body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    /* background-color: #6ab04c; */
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    background-color: transparent;
}
a img {
    width: 50%;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.navbar-brand {
    width: 10%;
}
nav ul li a:hover,
nav ul li a:focus {
    background-color: #575757;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    padding-top: 60px; /* Ajout de l'espace pour la barre de navigation fixe */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Espacement pour le contenu sous la barre de navigation */
}

section {
    margin-bottom: 20px;
}
/* Ajout du scroll-margin-top aux sections pour compenser la hauteur de la barre de navigation fixe */
section,
#eau h3 {
    scroll-margin-top: 140px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}
#eau h3,
#legumes h3 {
    scroll-margin-top: 90px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}
#legumes h3 {
    scroll-margin-top: 130px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}
h2 {
    border-bottom: 2px solid #6ab04c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

h3 {
    color: #6ab04c;
    font-size: 1.4em;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eafaf1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
ul li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.nourritures h2 img,
.soins h3 img,.eau h3 img {
    width: 10% !important;
}
.btn-download {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.btn-download:hover {
    background-color: #0056b3;
    text-decoration: none;
}
.btn-install {
    background-color: #f57f00; /* Orange couleur */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.btn-install:hover {
    background-color: #e64a19; /* Couleur orange plus foncée au survol */
    text-decoration: none;
}
.toxic li {
    color: red;
    background: #ffe6e6;
}
/* .toxic {
    background: url(../img/attention.png);
    z-index: -100;
    background-attachment: fixed;
    /* Fixe l'image d'arrière-plan */
/* background-size: cover; */
/* Ajuste la taille de l'image d'arrière-plan pour couvrir le conteneur */
/* background-position: center; */
/* Centre l'image d'arrière-plan */
/* } */
footer {
    background-color: #6ab04c;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/*------------ DÉBUT DE LA PARTIE TÉLÉPHONE ------------*/
@media screen and (max-width: 500px) and (max-width: 1000px) {
}

/*------------ FIN DE LA PARTIE TÉLÉPHONE ------------*/

/*------------ DÉBUT DE LA PARTIE TABLETTE ------------*/

@media screen and (max-width: 1024px) {
    h2 img,
    h3 img {
        width: 15% ;
    }
}
/*------------ FIN DE LA PARTIE TABLETTE ------------*/
